# Logs
packages/flash_notes-web/logs
packages/flash_notes-web/*.log
packages/flash_notes-web/npm-debug.log*
packages/flash_notes-web/yarn-debug.log*
packages/flash_notes-web/yarn-error.log*
packages/flash_notes-web/pnpm-debug.log*
packages/flash_notes-web/lerna-debug.log*

packages/flash_notes-web/node_modules
packages/flash_notes-web/dist
packages/flash_notes-web/dist-ssr
packages/flash_notes-web/*.local

# Editor directories and files
packages/flash_notes-web/.vscode/*
packages/flash_notes-web/!.vscode/extensions.json
packages/flash_notes-web/.idea
packages/flash_notes-web/.DS_Store
packages/flash_notes-web/*.suo
packages/flash_notes-web/*.ntvs*
packages/flash_notes-web/*.njsproj
packages/flash_notes-web/*.sln
packages/flash_notes-web/*.sw?
packages/flash_notes-SERV-api/.idea
packages/flash_notes-SERV-api/.gradle
packages/flash_notes-SERV-api/build
packages/flash_notes-SERV-auth/node_modules
packages/flash_notes-SERV-auth/pnpm-lock.yaml

