# Logs
packages/web/logs
packages/web/*.log
packages/web/npm-debug.log*
packages/web/yarn-debug.log*
packages/web/yarn-error.log*
packages/web/pnpm-debug.log*
packages/web/lerna-debug.log*

packages/web/node_modules
packages/web/dist
packages/web/dist-ssr
packages/web/*.local

# Editor directories and files
packages/web/.vscode/*
packages/web/!.vscode/extensions.json
packages/web/.idea
packages/web/.DS_Store
packages/web/*.suo
packages/web/*.ntvs*
packages/web/*.njsproj
packages/web/*.sln
packages/web/*.sw?
packages/api/.idea
packages/api/.gradle
packages/api/build
packages/auth/node_modules
packages/auth/pnpm-lock.yaml

