$background-primary: #FFF7ED;
$foreground-primary: #FFFFFF;;
$banner-primary: #292524;

$accent: #fa9583;
$accent-hover: #fc735b;
$accent-shadow-hover: #ff867110;
$foreground-contrast: #292524;
$foreground-contrast-hover: #000000;
$foreground-action: #f8e3dd;
$foreground-action-hover: #fff0ec;