@font-face {
    font-family: "Alba Super";
    src: url('/fonts/ALBAS.ttf') format("truetype");
}

@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body {
  background-color: $background-primary;
  font-family: Work Sans, Arial;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.button-comp {
  @apply cursor-pointer select-none font-medium shadow-sm rounded-xl max-h-[45px] px-3  w-full transition-all duration-200 text-dark-600 bg-[$foreground-action] h-[45px];
  &.accent {
    @apply bg-[$accent];
    &:hover {
      @apply bg-[$accent-hover] shadow-[#ff867110] shadow-sm bg-opacity-70;
    }
  }
  &.dark {
    @apply bg-[$foreground-contrast] text-light-200;
    &:hover {
      @apply bg-[$foreground-contrast-hover] bg-opacity-80 shadow-dark-400/40 shadow-sm;
    }
  }
  &:hover {
    @apply bg-[$foreground-action-hover] shadow-sm shadow-gray-400/20;
  }
}

.text-foreground {
  color: $foreground-contrast;
}

.font-ti {
  font-family: Titillium Web;
}

.font-alba {
    font-family: "Alba Super";
}

#__nuxt {
  height: 100%;
  width: 100%;
}

@keyframes fade-rotate-scale-in {
  0% {
    opacity: 0;
    transform: rotate(6deg) scale(0.75) translateY(1rem);
  }
  to {
    opacity: 1;
    transform: rotate(0) scale(1) translateY(0);
  }
}

.animate-fade-rotate-scale-in {
  -webkit-animation: fade-rotate-scale-in 0.5s ease forwards;
  animation: fade-rotate-scale-in 0.5s ease forwards;
}
@keyframes fade-rotate-in-lg {
  0% {
    opacity: 0;
    transform: rotate(2deg) translateY(1.25rem);
  }
  to {
    opacity: 1;
    transform: rotate(0) translateY(0);
  }
}
.animate-fade-rotate-in-lg {
  -webkit-animation: fade-rotate-in-lg 0.5s ease forwards;
  animation: fade-rotate-in-lg 0.5s ease forwards;
}
@-webkit-keyframes fade-rotate-in {
  0% {
    opacity: 0;
    transform: rotate(3deg) translateY(1.75rem);
  }
  to {
    opacity: 1;
    transform: rotate(0) translateY(0);
  }
}
@keyframes fade-rotate-in {
  0% {
    opacity: 0;
    transform: rotate(3deg) translateY(1.75rem);
  }
  to {
    opacity: 1;
    transform: rotate(0) translateY(0);
  }
}
.animate-fade-rotate-in {
  -webkit-animation: fade-rotate-in 0.5s ease forwards;
  animation: fade-rotate-in 0.5s ease forwards;
}

.translate-y-2 {
  --tw-translate-y: .5rem;
  transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
 }

 .-translate-y-4 {
  --tw-translate-y: -1rem;
  transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
 }